body {
	background-color: #d6d6d6;
	word-wrap: break-word;
}

nav {
	border-radius: 0 !important;
	background-color: black !important;
}

article img:first-of-type {
	float: left;
}

.navbar {
    background: #0069AA;
    margin: 0;
    border: 0;
}

div.jumbotron {
	margin-top: -20px;
	margin-bottom: 0;
	text-align: center;
	height: 20em;
	background: url("../images/books.jpg");
	background-size: cover;
	color: black;
}

div.jumbotron h2 {
	font-size: 5em;
	color: white;
	text-shadow: -2.5px 0 black, 0 2.5px black, 2.5px 0 black, 0 -2.5px black;
}

div.form-box {
	border: 1px solid black;
	width: 30em;
	margin: 5em auto;
	background-color: #cec4c4;
	padding: 1em;
	border-radius: .5em;
}

a.create {
	margin: 1em 0;
}

div.wrap h2 {
	text-align: center;
	font-size: 3em;
}

div.wrap ul li {
	font-size: 2em;
}

div.form-box h2 {
	text-align: center;
}


article {
	margin: .5em 0;
	padding: 0 .5em .5em .5em;
}


footer {
	height: 2.5em;
	background-color: rgb(245, 245, 245);
}

footer p {
	margin: 0;
	text-align: center;
}